#cursive{
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size: x-large;
}

#details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#divPrincipal{
    display: flex;
    justify-content: center;
}

#duree, #healthyDiv{
    display: flex;
    flex-direction: column;
}

#ingredient, #instruction{
    flex: 1 1;
}

#ingredientInstruction{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1em 10px black;
    margin: auto 3em;
    padding: 1em;
    margin-bottom: 5em;
    margin-top: 2%;
    width: 50em;
    justify-content: space-around;
}

#presentation{
    display: flex;
    flex-direction: column;
}

#presentation {
    box-shadow: 0px 0px 1em 10px black;
    margin: auto 3em;
    padding: 1em;
    margin-bottom: 5em;
    margin-top: 2%;
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button:hover{
    transform: scale(1.3);

}