#accueil{
    width: 80%;
}

#connexionButton{
    border: antiquewhite;
    background: antiquewhite;
}

#createUser, #forgotPassword{
    border: antiquewhite;
    background: antiquewhite;
    color: blue;
    text-decoration: underline;
}

#cursive{
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size: x-large;
}

#divCard0{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    overflow: scroll;
    height: 720px;
}


#divCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
    flex-wrap: wrap;
    align-content: center;
}


#divPrincipal{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/recette1.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

#imageAccueil{
    width: 20%;
}

#navbar{
    display: flex;
    justify-content: flex-end;
}