#cursive{
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size: x-large;
}

#recherche{
    flex-direction: column;
    display: flex;
    align-items: center;
    border: antiquewhite;
    background: antiquewhite;
}
#divPrincipal2{
    flex-direction: column;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/recette1.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

#resultat{
    width: 50%;
}
.button:hover{
    transform: scale(1.3);

}