@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body {
    background-color: #f0f5ff;
    font-family: 'Jost', sans-serif;
    color: #ffff;
}

#cursive{
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size: x-large;
}

.wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 400px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 18px 40px 0px rgba(47, 47, 47, .1);
}

input [type="text"] {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid lightgray;
    background: none;
    width: 274px;
    color: black;
}

input [type="text"]:focus {
    flex-direction: column;
    display: flex;
    align-items: center;
    outline: none;
}

.controls {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 294px;
    margin: 15px auto;
}

#remove_fields {
    flex-direction: column;
    display: flex;
    align-items: center;
    float: right;
}

.controls a i.fa-minus {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-right: 5px
}

a {
    flex-direction: column;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

h1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 48px;
    color: #232c3d;
}
.button:hover{
    transform: scale(1.3);

}